<!DOCTYPE html>
<html ng-app="todoApp">

<head>
  <title>Simple Chat</title>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" type="text/css" />
</head>

<body ng-controller="MainController as mainCtrl">

  <div class="container col-xs-12">
    <div class="row">
      <span class="col-xs-6">For your <span class="glyphicon glyphicon-eye-open"></span> only. :P</span>
    </div>
    <div class="row">

      <div class="col-xs-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Add your TODO's</h3>
          </div>
          <div class="panel-body">
            <div class="form-group">
              <label for="todoDataLabel">Todo What?</label>
              <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Todo?" ng-model="mainCtrl.todo">
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-default" ng-click="mainCtrl.addTodo()">Add</button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-6" ng-if="mainCtrl.data">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Your List of Awesome TODO's</h3>
          </div>
          <div class="panel-body">
            <table class="table table-striped">
              <tbody>
                <tr ng-repeat="data in mainCtrl.data">
                  <th scope="row">
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" ng-model="data.completed" ng-click="mainCtrl.todoChanged(data._id,data.completed)">
                      </label>
                    </div>
                  </th>
                  <td ng-if="!data.completed">{{data.data}}</td>
                  <td ng-if="data.completed"><del>{{data.data}}</del></td>
                  <th scope="row center-block">
                    <div class="glyphicon glyphicon-remove-circle" ng-click="mainCtrl.deleteTodo(data._id)"></div>
                  </th>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

    </div>

  </div>




  <script type="text/javascript" src="bower_components/jquery/dist/jquery.js"></script>
  <script type="text/javascript" src="bower_components/angular/angular.js"></script>
  <script type="text/javascript" src="bower_components/angular-bootstrap/ui-bootstrap.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script type="text/javascript" src="app/app.js"></script>
  <script>
  </script>
</body>

</html>